* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  height: 100vh;
  height: 100dvh;
  height: -webkit-fill-available;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.loading-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0.1);
  transform-origin: top left;
  transition: transform 0.5s;
}

.loading-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0.1);
  transform-origin: top left;
  transition: transform 0.5s;
}

.loading-bar.ended {
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: transform 1.5s ease-in-out;
}

.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #fff;
}

.logo {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 300;
}

/* MENU */
.nav-links {
  list-style: none;
  font-size: 15px;
  display: flex;
  gap: 1rem;
}


.nav-links button {
  color: #fff;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  transition: color 0.2s ease;
}

.nav-links button:hover {
  font-weight: 500;
}

.burger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff
}

/* Version mobile */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    gap: 2rem;
    z-index: 999;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-family: "Averia Serif Libre", serif;
    opacity: 0;
    visibility: hidden;
  }

  .nav-links.active {
    display: flex;
    opacity: 1;
    visibility: visible;
  }

  .burger {
    display: block;
  }

  .nav-links button {
    font-size: 2rem; /* plus grand pour mobile */
    color: #000;
  }
}

.info {
  position: fixed;
  padding: 10px;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lato", sans-serif;
  width: 200px;
  color: white;
  text-align: left;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 100;
  text-align: center;
}

.info h3 {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 24px;
  margin: 5px;
}

.info p {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 14px;
  margin: 5px;
}

.pointer {
  display: none;
  position: absolute;
  top: 50dvh;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Petit point au centre */
.pointer::before {
  content: "";
  position: absolute;
  width: 5px;              /* taille du point */
  height: 5px;
  background-color: white;  /* couleur du point */
  border-radius: 50%;       /* cercle parfait */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* si tu avais pointer-circle, tu peux l'enlever ou l'utiliser pour animation */
.pointer-circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease;
  pointer-events: none;
}
